<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find last word passed</title>
</head>
<body>
<h1>Welcome!</h1>
<table>
    <tr th:each="word : ${popularWords}">
        <td>
            <form th:action="@{/simple-english/add-word-dictionary}" th:method="POST">
              <input type="hidden" th:name="checkingListPopularWords" th:value="${word.getCountRepetitionsOfWordsFromUsers()}" >
              <input type="hidden" th:name="wordId" th:value="${word.getId()}"/>
              <input type = 'submit' id="word" value="Добавить в словарь"/>
            </form>
        </td>
        <td th:text = "${word.getWord()} + '.' ">Word</td>
        <td th:text="${word.getTranslate()}">Translate</td>
        <td>
            <form th:action="@{/simple-english/intervalPov}" th:method="POST">
                <input type="submit" id="interval" value="Учить!"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>