<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find last word passed</title>
</head>
<body>
<h1>Welcome!</h1>
<table>
    <tr th:each="word : ${words}">
        <td>
            <form th:action="@{/simple-english/1000PopularWords}" th:method="POST">
              <input type = 'submit' id="word" value="Добавить в словарь"/>
            </form>
        </td>
        <td th:text = "${word.getWord()} + '.' ">idWord</td>
        <td th:text="${word.getWord()}">OriginalWord</td>
        <td th:text="' - ' + ${word.getTranslate()}">Translate</td>
        <td>
            <form th:action="@{/simple-english/intervalPov}" th:method="POST">
                <input type="submit" id="interval" value="Учить!"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>