<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/SimpleEnglish}" th:object="${user}">
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <div style="color:green" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login Error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:green" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
    <br/>
    <label for="emailAddress">Enter email: </label>
    <input type="text" th:field="*{emailAddress}" id="emailAddress"/>
    <div style="color:green " th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">email Error</div>
    <br/>
    <input type = "submit" value="Create!">
</form>


</body>
</html>