<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск по словарю</title>
</head>
<body>

<form style="text-align: left" th:action="@{/simple-english/search-word}" th:method="POST">
    <input type="text" name="search" placeholder="Search..."/>
    <input type="submit" value="search"/>
</form>

    <table>
        <tr th:each="word : ${searchWords}">
            <td>
                <form th:action="@{/simple-english/add-word-dictionary}" th:method="POST">
                    <input type="hidden" th:name="wordId" th:value="${word.getId()}"/>
                    <input type="submit" name="word" value="добавить в словарь"/>
                </form>
            </td>
            <td th:text="${word.id}"></td>
            <td th:text="${word.word} + ' -' "></td>
            <td th:text="${word.translate}"></td>
    </table>

</body>
</html>