<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск по словарю</title>
</head>
<body>

<form style="text-align: left" th:action="@{/simple-english/search}" th:method="POST">
    <input type="text" name="search" placeholder="Search..."/>
    <input type="submit" value="search"/>
</form>

<table>
    <tr th:each="word : ${searchWords}">
        <td th:text = "${word.getId()} + '.' ">idWord</td>
        <td th:text="${word.getWord()}">OriginalWord</td>
        <td th:text="' - ' + ${word.getTranslate()}">Translate</td>
    </tr>
</table>

</body>
</html>